p,h1,h2,h3{
    font-family: Helvetica, sans-serif;
}
        
body {
    font-family: Helvetica, sans-serif;
}
        

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: #c7ffff;
}

.button:hover {
    background-color: #a2ffe8;
}

#connectionInfo {
    text-align: center;
    margin-bottom: 20px;
}

th,td {
    padding: 10px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
 
table.center1 {
    margin: auto;
    padding: 20px;
}

/* Publishing popup styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1001; /* Adjusted z-index */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}